In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arashnic/soalr-wind")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/arashnic/soalr-wind?dataset_version_number=2...

100%|█████████████████████████████████████████████████████| 276M/276M [00:13<00:00, 22.1MB/s]

Extracting files...

Path to dataset files: /Users/andrea/.cache/kagglehub/datasets/arashnic/soalr-wind/versions/2

In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv('./2/solar_wind.csv')

# Inspect the first few rows
print(df.head())

    period        timedelta  bx_gse  by_gse  bz_gse  theta_gse  phi_gse  \
0  train_a  0 days 00:00:00   -5.55    3.00    1.25      11.09   153.37
1  train_a  0 days 00:01:00   -5.58    3.16    1.17      10.10   151.91
2  train_a  0 days 00:02:00   -5.15    3.66    0.85       7.87   146.04
3  train_a  0 days 00:03:00   -5.20    3.68    0.68       6.17   146.17
4  train_a  0 days 00:04:00   -5.12    3.68    0.49       4.62   145.72

   bx_gsm  by_gsm  bz_gsm  theta_gsm  phi_gsm    bt  density   speed  \
0   -5.55    3.00    1.25      11.09   153.37  6.80     1.53  383.92
1   -5.58    3.16    1.17      10.10   151.91  6.83     1.69  381.79
2   -5.15    3.66    0.85       7.87   146.04  6.77     1.97  389.11
3   -5.20    3.68    0.68       6.17   146.17  6.74     1.97  389.11
4   -5.12    3.68    0.49       4.62   145.72  6.65     1.77  384.26

   temperature source
0     110237.0     ac
1     123825.0     ac
2      82548.0     ac
3      82548.0     ac
4      94269.0     ac

In [5]:
df.drop(columns=['theta_gse', 'phi_gse', 'bx_gsm', 'by_gsm', 'bz_gsm', 'theta_gsm', 'phi_gsm'], inplace=True)
df.head()

,period,timedelta,bx_gse,by_gse,bz_gse,bt,density,speed,temperature,source
0,train_a,0 days 00:00:00,-5.55,3.00,1.25,6.80,1.53,383.92,110237.0,ac
1,train_a,0 days 00:01:00,-5.58,3.16,1.17,6.83,1.69,381.79,123825.0,ac
2,train_a,0 days 00:02:00,-5.15,3.66,0.85,6.77,1.97,389.11,82548.0,ac
3,train_a,0 days 00:03:00,-5.20,3.68,0.68,6.74,1.97,389.11,82548.0,ac
4,train_a,0 days 00:04:00,-5.12,3.68,0.49,6.65,1.77,384.26,94269.0,ac

In [4]:
# Load the dataset
df_sunspot = pd.read_csv('./2/labels.csv')

# Inspect the first few rows
print(df_sunspot.head())

    period        timedelta  dst
0  train_a  0 days 00:00:00   -7
1  train_a  0 days 01:00:00  -10
2  train_a  0 days 02:00:00  -10
3  train_a  0 days 03:00:00   -6
4  train_a  0 days 04:00:00   -2

In [8]:
df_combined = pd.concat([df.reset_index(drop=True), df_sunspot[['dst']].reset_index(drop=True)], axis=1)
df_combined.head()

,period,timedelta,bx_gse,by_gse,bz_gse,bt,density,speed,temperature,source,dst
0,train_a,0 days 00:00:00,-5.55,3.00,1.25,6.80,1.53,383.92,110237.0,ac,-7.0
1,train_a,0 days 00:01:00,-5.58,3.16,1.17,6.83,1.69,381.79,123825.0,ac,-10.0
2,train_a,0 days 00:02:00,-5.15,3.66,0.85,6.77,1.97,389.11,82548.0,ac,-10.0
3,train_a,0 days 00:03:00,-5.20,3.68,0.68,6.74,1.97,389.11,82548.0,ac,-6.0
4,train_a,0 days 00:04:00,-5.12,3.68,0.49,6.65,1.77,384.26,94269.0,ac,-2.0

In [9]:
# Load the dataset
df_sat = pd.read_csv('./2/satellite_pos.csv')

# Inspect the first few rows
print(df_sat.head())

    period timedelta  gse_x_ace  gse_y_ace  gse_z_ace  gse_x_dscovr  \
0  train_a    0 days  1522376.9   143704.6   149496.7           NaN
1  train_a    1 days  1525410.9   136108.8   151034.1           NaN
2  train_a    2 days  1528484.9   128470.5   152387.7           NaN
3  train_a    3 days  1531570.3   120818.4   153561.4           NaN
4  train_a    4 days  1534633.1   113178.5   154534.6           NaN

   gse_y_dscovr  gse_z_dscovr
0           NaN           NaN
1           NaN           NaN
2           NaN           NaN
3           NaN           NaN
4           NaN           NaN

In [13]:
import pandas as pd

# Convert 'timedelta' to actual timedelta objects
df_combined['timedelta'] = pd.to_timedelta(df_combined['timedelta'])
df_sat['timedelta'] = pd.to_timedelta(df_sat['timedelta'])

# Extract day as integer
df_combined['day'] = df_combined['timedelta'].dt.days
df_sat['day'] = df_sat['timedelta'].dt.days

# Keep only necessary columns from df_sat
satellite_columns = [
    'period', 'day',
    'gse_x_ace', 'gse_y_ace', 'gse_z_ace',
    'gse_x_dscovr', 'gse_y_dscovr', 'gse_z_dscovr'
]
df_sat_trimmed = df_sat[satellite_columns]

# Merge on 'period' and 'day'
df_merged = df_combined.merge(df_sat_trimmed, on=['period', 'day'], how='left')

# Create unified gse_x/y/z columns based on source
df_merged['gse_x'] = df_merged.apply(
    lambda row: row['gse_x_ace'] if row['source'] == 'ac' else row['gse_x_dscovr'], axis=1)
df_merged['gse_y'] = df_merged.apply(
    lambda row: row['gse_y_ace'] if row['source'] == 'ac' else row['gse_y_dscovr'], axis=1)
df_merged['gse_z'] = df_merged.apply(
    lambda row: row['gse_z_ace'] if row['source'] == 'ac' else row['gse_z_dscovr'], axis=1)

# Optionally drop the temporary and satellite-specific columns
df_final = df_merged.drop(columns=[
    'day',
    'gse_x_ace', 'gse_y_ace', 'gse_z_ace',
    'gse_x_dscovr', 'gse_y_dscovr', 'gse_z_dscovr'
])


df_final.head()

,period,timedelta,bx_gse,by_gse,bz_gse,bt,density,speed,temperature,source,dst,gse_x,gse_y,gse_z
0,train_a,0 days 00:00:00,-5.55,3.00,1.25,6.80,1.53,383.92,110237.0,ac,-7.0,1522376.9,143704.6,149496.7
1,train_a,0 days 00:01:00,-5.58,3.16,1.17,6.83,1.69,381.79,123825.0,ac,-10.0,1522376.9,143704.6,149496.7
2,train_a,0 days 00:02:00,-5.15,3.66,0.85,6.77,1.97,389.11,82548.0,ac,-10.0,1522376.9,143704.6,149496.7
3,train_a,0 days 00:03:00,-5.20,3.68,0.68,6.74,1.97,389.11,82548.0,ac,-6.0,1522376.9,143704.6,149496.7
4,train_a,0 days 00:04:00,-5.12,3.68,0.49,6.65,1.77,384.26,94269.0,ac,-2.0,1522376.9,143704.6,149496.7

In [29]:
df_final.to_csv('/Users/andrea/Documents/IAC2025/2/dataset_sun_wind.csv', index=False)